---
import { Picture } from "astro:assets";
import Layout from "../components/Layout.astro";
import Link from "../components/Link.astro";
import AuradineAbout from "../images/auradine2.png";
import Member from "../components/Member.astro";

let leadershipMembers = [
  {
    name: "Rajiv Khemani",
    title: "Co-founder, President & CEO",
    image: "/member1.png",
    linkedIn: "https://www.linkedin.com/in/rajivkhemani/",
  },
  {
    name: "Barun Kar",
    title: "Co-founder & Advisor",
    image: "/barun.png",
    linkedIn: "https://www.linkedin.com/in/barun-k-ba48b01/",
  },
  {
    name: "Sanjay Gupta",
    title: "Chief Strategy Officer",
    image: "/Sanjay.png",
    linkedIn: "https://www.linkedin.com/in/sanjay-gupta-9b018b19/",
  },
  {
    name: "Lisa Sidel",
    title: "VP & General Counsel",
    image: "/lisa.png",
    linkedIn: "https://www.linkedin.com/in/lisa-raffetto-sidel-737547b/",
  },
  {
    name: " Atul Dhablania",
    title: "Chief Systems Operations Officer",
    image: "/atul.png",
  },
];

let boardMembers = [
  {
    name: "Sriram Viswanathan",
    title: "Chairman, Managing Partner, Celesta Capital",
    image: "/sriram.png",
    linkedIn: "https://www.celesta.vc/people/sriram-viswanathan",
  },
  {
    name: "Navin Chaddha",
    title: "Managing Director, Mayfield",
    image: "/navin.png",
    linkedIn: "https://www.mayfield.com/team/navin-chaddha/",
  },
  {
    name: "Lip-Bu Tan",
    title: "Chairman, Walden International",
    image: "/lip-bu.png",
    linkedIn: "https://www.linkedin.com/in/lip-bu-tan-284a7846/",
  },
  {
    name: "Fred Thiel",
    title: "CEO, MARA",
    image: "/fred.png",
    linkedIn: "https://www.linkedin.com/in/fredthiel/",
  },
  {
    name: "Rajiv Khemani",
    title: "Co-founder, President & CEO",
    image: "/member1.png",
    linkedIn: "https://www.linkedin.com/in/rajivkhemani/",
  },
  {
    name: "Barun Kar",
    title: "Co-founder & Advisor",
    image: "/barun.png",
    linkedIn: "https://www.linkedin.com/in/barun-k-ba48b01/",
  }
];

let investors = [
    {
        name: "Celesta Capital",
        url: "",
        image: "/investors/celesta.png"
    },
    {
        name: "Mayfield",
        url: "",
        image: "/investors/mayfield.png"
    },    
    {
        name: "MARA",
        url: "",
        image: "/investors/mara.png"
    },
    {
        name: "Maverick Silicon",
        url: "",
        image: "/investors/maverick.png"
    },
    {
        name: "Stepstone",
        url: "",
        image: "/investors/stepstone.png"
    },
    {
        name: "Premji Invest",
        url: "",
        image: "/investors/premji.png"
    },
    {
        name: "Cota",
        url: "",
        image: "/investors/cota.png"
    },
    {
        name: "Qualcomm ventures",
        url: "",
        image: "/investors/qualcomm.png"
    },
    {
        name: "MVP ventures",
        url: "",
        image: "/investors/mvp.png"
    }
]
---

<Layout title="About">
  <!-- About -->

  <section class="hero about-hero relative">
    <div class="overlay absolute top-0 left-0 w-full h-full z-1">
      <img src="/solutions.png" class="w-full h-full object-cover" alt="" />
    </div>
    <div
      class="container mx-auto flex flex-col items-center justify-center gap-8 lg:gap-16 min-h-[500px] pt-20 md:pt-40 relative z-2"
    >
      <div class="gradient-container grandientHeading">
        <h1
          class="hero clamp-h1 font-medium leading-[99%] tracking-[-1.04px] text-center"
        >
          About
        </h1>
      </div>
      <div class="breadcrumps flex items-center gap-2 mt-4 text-white/60">
        <a href="/" class="hover:text-white transtion duration-300">Home</a>
        <span>/</span>
        <span>About</span>
      </div>
    </div>
  </section>

  <div class="about-slides">
    <div class="slide know">
      <div class="content-wrapper">
        <div class="content">
          <section
            class="fade-up-section lg:min-h-[1000px] lg:max-h-[1200px] relative flex flex-col lg:items-center lg:justify-center lg:overflow-x-hidden"
          >
            <div
              class="videoContainer z-1 absolute top-0 left-0 w-full h-full bg-[#0032a1]"
            >
              <video
                src="/HB-About.mp4"
                class="w-full h-full object-cover mix-blend-color-burn opacity-60"
                autoplay
                loop
                muted
                playsinline
                webkit-playsinline
                disablepictureinpicture></video>
            </div>
            <div
              class="overlay absolute top-0 left-0 w-full h-full z-2"
              style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #080C20 100%);"
            >
            </div>
            <div
              class="container mx-auto relative z-3 grid grid-cols-1 md:grid-cols-2 gap-8"
            >
              <div class="left flex flex-col gap-8">
                <div class="relative flex items-center justify-center">
                  <div class="ml-auto fade-up fade-up-mobile">
                    <Picture
                      src={AuradineAbout}
                      formats={["avif", "webp"]}
                      alt="Auradine"
                      class="relative z-10 max-w-[450px] ml-auto"
                    />
                  </div>
                </div>
              </div>
              <div class="right flex flex-col gap-8 justify-center">
                <h2 class="text-4xl font-semibold | gradientSmallHeading w-fit fade-up fade-up-mobile">
                  Get to Know <br class="hidden sm:inline" />Auradine
                </h2>
                <p class="bigger max-w-[40ch]">
                  Founded in 2022 by industry veterans from Palo Alto Networks,
                  Marvell, NVIDIA, Intel, Block, Google, and more, Auradine
                  brings deep expertise in delivering low-power,
                  high-performance solutions for blockchain and AI compute.
                </p>
              </div>
            </div>

            <div class="marquee-container relative flex overflow-x-hidden z-3 opacity-10">
              <div class="animate-marquee whitespace-nowrap my-20 md:mt-0">
                <span
                  class="mx-2 text-3xl md:text-5xl lg:text-7xl uppercase tracking-[-1.04px] leading-[99%]"
                  >High Performance.</span
                >
                <span
                  class="mx-2 text-3xl md:text-5xl lg:text-7xl uppercase tracking-[-1.04px] leading-[99%]"
                  >Low Power.</span
                >
                <span
                  class="mx-2 text-3xl md:text-5xl lg:text-7xl uppercase tracking-[-1.04px] leading-[99%]"
                  >Built For Blockchain & AI.</span
                >
                <span
                  class="mx-2 text-3xl md:text-5xl lg:text-7xl uppercase tracking-[-1.04px] leading-[99%]"
                  >High Performance.</span
                >
                <span
                  class="mx-2 text-3xl md:text-5xl lg:text-7xl uppercase tracking-[-1.04px] leading-[99%]"
                  >Low Power.</span
                >
                <span
                  class="mx-2 text-3xl md:text-5xl lg:text-7xl uppercase tracking-[-1.04px] leading-[99%]"
                  >Built For Blockchain & AI.</span
                >
              </div>
              <div
                class="absolute top-0 animate-marquee2 whitespace-nowrap my-20 md:mt-0"
              >
                <span
                  class="mx-2 text-3xl md:text-5xl lg:text-7xl uppercase tracking-[-1.04px] leading-[99%]"
                  >High Performance.</span
                >
                <span
                  class="mx-2 text-3xl md:text-5xl lg:text-7xl uppercase tracking-[-1.04px] leading-[99%]"
                  >Low Power.</span
                >
                <span
                  class="mx-2 text-3xl md:text-5xl lg:text-7xl uppercase tracking-[-1.04px] leading-[99%]"
                  >Built For Blockchain & AI.</span
                >
                <span
                  class="mx-2 text-3xl md:text-5xl lg:text-7xl uppercase tracking-[-1.04px] leading-[99%]"
                  >High Performance.</span
                >
                <span
                  class="mx-2 text-3xl md:text-5xl lg:text-7xl uppercase tracking-[-1.04px] leading-[99%]"
                  >Low Power.</span
                >
                <span
                  class="mx-2 text-3xl md:text-5xl lg:text-7xl uppercase tracking-[-1.04px] leading-[99%]"
                  >Built For Blockchain & AI.</span
                >
              </div>
            </div>

          </section>
        </div>
      </div>
    </div>

    <div class="slide leadership">
      <div class="content-wrapper">
        <div class="content">
          <section
            class="fade-up-section lg:min-h-[1000px] lg:max-h-[1200px] relative flex flex-col py-20 md:pb-0 overflow-x-hidden bg-[#080C20]"
          >
            <div class="container mx-auto relative z-3 flex flex-col gap-8">
              <div class="flex flex-col gap-8 md:gap-16 justify-center">
                <h2 class="text-4xl font-semibold | gradientSmallHeading w-fit">
                  Leadership
                </h2>
                <div
                  class="leadership-grid grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4"
                >
                  {
                    leadershipMembers.map((member) => (
                      <Member
                        name={member.name}
                        title={member.title}
                        image={member.image}
                        linkedIn={member.linkedIn}
                      />
                    ))
                  }
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <div class="slide board">
      <div class="content-wrapper">
        <div class="content">
          <section
            class="fade-up-section lg:min-h-[1000px] lg:max-h-[1200px] relative flex flex-col py-20 md:pb-0 overflow-x-hidden"
            style="background: linear-gradient(180deg, #0D1335 0%, #080C20 100%);
background-blend-mode: multiply;
"
          >
            <div class="container mx-auto relative z-3 flex flex-col gap-8">
              <div class="flex flex-col gap-8 md:gap-16 justify-center">
                <h2 class="text-4xl font-semibold | gradientSmallHeading w-fit">
                  Board of Directors
                </h2>
                <div
                  class="leadership-grid grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4"
                >
                  {
                    boardMembers.map((member) => (
                      <Member
                        name={member.name}
                        title={member.title}
                        image={member.image}
                        linkedIn={member.linkedIn}
                      />
                    ))
                  }
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <div class="slide investors">
      <div class="content-wrapper">
        <div class="content">
          <section
            class="fade-up-section lg:min-h-[1000px] lg:max-h-[1200px] relative flex flex-col py-20 md:pb-0 overflow-x-hidden"
          >
            <div
              class="videoContainer z-1 absolute top-0 left-0 w-full h-full bg-[#0032a1]"
            >
              <video
                src="/HB-investors.mp4"
                preload="none"
                class="w-full h-full object-cover opacity-60"
                autoplay
                loop
                muted
                playsinline
                webkit-playsinline
                disablepictureinpicture></video>
            </div>
            <div
              class="overlay absolute top-0 left-0 w-full h-full z-2 bg-[#000e4a] opacity-80"
            >
            </div>
            <div class="md:container md:mx-auto relative z-3 flex flex-col gap-8" style="width: 100% !important;">
              <div class="flex flex-col gap-12 justify-center">            
                <h2 class="container mx-auto md:!container-none md:!mx-0 text-4xl font-medium | text-white w-fit">
                  Key investors
                </h2>
                <div
                  class="investors-grid pl-4 md:pl-0 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-6"
                >
                {
                    investors.map(({name, url, image}) => (
                        <div class="fade-up">
                         <div
                            class="inversor-item p-4 mr-4 md:mr-0 aspect-square flex items-center justify-center relative bg-[#030c35] group border-[1.2px] border-solid backdrop-filter:blur(0px) hover:[backdrop-filter:blur(48px)] hover:bg-transparent transition-all transition-500"
                            style="border-image-source: linear-gradient(299.52deg, rgba(9, 59, 152, 0.5) 4.17%, rgba(255, 255, 255, 0.05) 93.71%); border-image-slice: 1;"
                        >
                            <!--<a
                            href={url}
                            target="_blank"
                            class="absolute top-0 left-0 w-full h-full"></a>  -->
                            <img src={image} alt={name} />
                        </div>
                        </div>
                    ))
                }
                 
                  
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <div class="slide build">
      <div class="content-wrapper">
        <div class="content">
          <section
            class="fade-up-section lg:min-h-[1000px] lg:max-h-[1200px] relative flex flex-col items-center justify-center overflow-x-hidden"
          >
            <div
              class="videoContainer z-1 absolute top-0 left-0 w-full h-full bg-[#0051D9]"
            >
              <video
                src="/HB-About.mp4"
                class="w-full h-full object-cover mix-blend-color-burn opacity-60"
                autoplay
                loop
                muted
                playsinline
                webkit-playsinline
                disablepictureinpicture></video>
            </div>
            <!-- <div
              class="overlay absolute top-0 left-0 w-full h-full z-2"
              style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #080C20 100%);"
            >
            </div> -->
            <div
              class="container mx-auto relative z-3 grid gap-8 pb-40 pt-40 lg:pb-60 lg:pt-0"
            >
              <div class="flex flex-col gap-8 justify-center items-center">
                <h2 class="fade-up hero clamp-h1 font-medium leading-[99%] tracking-[-1.04px] text-center lg:text-left ">
                  Come Build the <br class="hidden sm:inline" />Future with Us
                </h2>
                <div class="fade-up">
                    <Link href="/careers/" text="Careers" />
                </div>
              </div>
            </div>        
          </section>
        </div>
      </div>
    </div>
  </div><!-- close about slides -->
</Layout>

<style>
    @media(min-width: 1100px) and (max-width: 1600px) {
        .marquee-container {
            padding-bottom: 20rem;
        }
    }

  .about-slides {
    position: relative;
    background-color: #0f0f0f;
  }

  @media (max-width: 1100px) {
    .about-slides .slide {
      height: 100%;
      max-height: 100%;
    }
  }
  .about-slides .slide .content-wrapper {
    width: 100%;
    height: 100%;
  }
  @media (min-width: 1100px) {
    .about-slides .slide .content {
      position: absolute;
      inset: 0;
      transform-style: preserve-3d;
      transform-origin: 50% 10%;
    }
  }

</style>
<script is:inline>
  function aboutSlides() {
    // Run only if viewport is wider than 800px
    if (window.innerWidth < 1100){return;}    

    const slidesContainer = document.querySelector(".about-slides");

    if (!slidesContainer) return;

    const slides = slidesContainer.querySelectorAll(".slide");

    // Hide all .fade-up elements initially
    slides.forEach(slide => {
    const fadeUpItems = slide.querySelectorAll('.fade-up');
    gsap.set(fadeUpItems, { opacity: 0, y: 50 });
  });
    
    setTimeout(() => {
      slides.forEach((slide) => {
        const contentWrapper = slide.querySelector(".content-wrapper");
        const fadeUpItems = slide.querySelectorAll(".fade-up");

        // Pin the slide
        ScrollTrigger.create({
          trigger: slide,
          pin: contentWrapper,
          start: "top top",
          end: "+=" + window.innerHeight,
          markers: false, // optional: turn on for debugging
        });

        // Trigger fade-up once when slide enters
        ScrollTrigger.create({
          trigger: slide,
          start: "top 20%", // adjust as needed
          once: true, // only trigger once
          onEnter: () => {
            
            gsap.to(fadeUpItems, {
              opacity: 1,
              y: 0,
              duration: 0.6,
              stagger: 0.1,
              ease: "power2.out",
            });
            
          },
        });

      });
    }, 200);
    
  }

  /* IF WINDOW IS SMALLER THAN 800 PX, MAKE A SLIDER FOR THE INVESTORS (using flickity) */
  function investorsSlider() {
    if (window.innerWidth > 800) return;

    const investors = document.querySelector(".investors-grid");
    if (!investors) return;

    new Flickity(investors, {
      // options
      cellAlign: "left",
      contain: true,
      wrapAround: true,
      pageDots: true,
      prevNextButtons: false,
      imagesLoaded: true,
      //autoPlay: true,
    });
    
  }


investorsSlider();
aboutSlides();
</script>
