---
import { Picture } from "astro:assets";
import Layout from "../components/Layout.astro";
import Link from "../components/Link.astro";

//images
import Slide1 from "../images/home-slide1.png";
import Slide2 from "../images/home-slide2.png";
import Slide3 from "../images/home-slide3.png";

let posts = [
  {
    title:
      "Live from MarketSite – Auradine: Reimagining Blockchain and AI Security",
    date: "July 3, 2025",
    category: "Video",
    categoryColor: "#42C1FF",
    image: "/post1.jpg",
    link: "/",
  },
  {
    title: "Bitcoin and Quantum Computing: Should We Be Worried?",
    date: "July 3, 2025",
    category: "Blog",
    categoryColor: "#025FF8",
    image: "/post2.png",
    link: "/",
  },
  {
    title:
      "Auradine Raises $80 Million in Oversubscribed Series B Financing and Achieves $80 Million in Bookings",
    date: "July 3, 2025",
    category: "News",
    categoryColor: "#41E7BD",
    image: "/post3.png",
    link: "/",
  },
];

const categoryClass = {
  Video: "text-[#42C1FF]",
  Blog: "text-[#025FF8]",
  News: "text-[#41E7BD]",
};
---

<Layout title="Homepage">
  <!-- Homepage Sections -->

  <section
    class="hero relative h-[100svh] max-h-[1000px] flex flex-col justify-center gap-8"
  >
    <div
      class="overlay-container absolute top-0 left-0 w-full h-full overflow-hidden"
    >
      <div
        class="overlay absolute top-0 left-0 w-full h-full | bg-[#070B1E] bg-gradient-to-b from-[#070B1E] via-[#070B1E] to-[#080C20]"
      >
      </div>
      <video
        id="herovid"
        src="/HB-Hero-Video.mp4"
        poster="/hero-poster.webp"
        autoplay=""
        loop=""
        muted=""
        playsinline=""
        disablepictureinpicture=""
        webkit-playsinline=""
        class="fixed top-0 left-0 w-full h-full object-cover z-0 | opacity-50"
      ></video>
      <div
        class="overlay absolute top-0 left-0 w-full h-full | bg-gradient-to-b from-transparent to-[#080C20]"
      >
      </div>
    </div>
    <div class="container mx-auto z-1">
      <h1
        class="hero clamp-h1 font-medium leading-[99%] tracking-[-1.04px] grandientHeading uppercase"
      >
        High Performance. <br class="hidden sm:inline" />
        Low Power. Built For <br class="hidden sm:inline" /> Blockchain & AI.
      </h1>
    </div>
    <div
      class="container mx-auto z-1 flex flex-col md:flex-row justify-between gap-4 md:absolute md:bottom-16 md:left-1/2 md:-translate-x-1/2"
    >
      <p
        class="md:max-w-[30ch] text-white opacity-80 clamp-p leading-[25px] tracking-[-1px]"
      >
        Auradine develops high-performance, energy-efficient compute for
        blockchain and AI—engineered in the U.S. for secure, scalable, and
        sustainable operations.
      </p>
      <div class="mt-auto">
        <Link href="/about" text="Learn More" />
      </div>
    </div>
  </section>

  <div
    class="features-wrapper | bg-[#070B1E] text-white relative overflow-hidden min-h-[300svh]"
  >
    <div
      class="overlay absolute top-0 left-0 w-full h-screen pointer-events-none z-0"
    >
      <img
        src="/lines-carpet.svg"
        class="w-full h-full cover absolute top-1/2 left-0 transform -translate-y-1/2"
        alt=""
      />
      <img
        src="/left-gradient.svg"
        class="h-full cover absolute w-1/2 top-1/2 left-0 transform -translate-y-1/2"
        alt=""
      />
    </div>
    <div
      class="inner-sections-container | absolute top-0 left-0 w-full z-0 min-h-[100svh]"
    >
      <section
        class="section min-h-[80svh] grid grid-cols-1 md:grid-cols-2 justify-center items-center px-8 relative z-2"
      >
        <div class="left flex flex-col items-center gap-4">
          <div class="md:max-w-[70%] m-auto relative">
            <div
              class="overlay-gif | absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 w-fit h-fit pointer-events-none z-10"
            >
              <svg
                width="310"
                height="360"
                viewBox="0 0 310 360"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  id="orbit-path"
                  d="M155 3.5C240.264 3.5 309.5 83.1247 309.5 181.5C309.5 279.875 240.264 359.5 155 359.5C69.7359 359.5 0.5 279.875 0.5 181.5C0.5 83.1247 69.7359 3.5 155 3.5Z"
                  stroke="url(#paint0_linear_2048_112)"></path>
                <circle id="moving-dot" r="3.5" fill="white"></circle>
                <defs>
                  <linearGradient
                    id="paint0_linear_2048_112"
                    x1="65.5"
                    y1="28"
                    x2="161.5"
                    y2="138"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="white"></stop>
                    <stop offset="1" stop-color="#091631" stop-opacity="0"
                    ></stop>
                  </linearGradient>
                </defs>
              </svg>
            </div>
            <Picture
              src={Slide1}
              formats={["avif", "webp"]}
              alt="Blockchain"
              class="z-10"
            />
            <!-- <div
              class="overlay-gif | absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 w-fit h-fit pointer-events-none z-2"
            >
              <svg
                width="310"
                height="360"
                viewBox="0 0 310 360"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M155 3.5C240.264 3.5 309.5 83.1247 309.5 181.5C309.5 279.875 240.264 359.5 155 359.5C69.7359 359.5 0.5 279.875 0.5 181.5C0.5 83.1247 69.7359 3.5 155 3.5Z"
                  stroke="url(#paint0_linear_2048_112)"></path>
                <circle cx="151.5" cy="3.5" r="3.5" fill="white"></circle>
                <defs>
                  <linearGradient
                    id="paint0_linear_2048_112"
                    x1="65.5"
                    y1="28"
                    x2="161.5"
                    y2="138"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="white"></stop>
                    <stop offset="1" stop-color="#091631" stop-opacity="0"
                    ></stop>
                  </linearGradient>
                </defs>
              </svg>
            </div> -->
          </div>
        </div>
        <div class="right flex flex-col gap-8">
          <h2 class="text-4xl font-bold | gradientSmallHeading">Blockchain</h2>
          <p class="bigger max-w-[40ch]">
            Auradine is a U.S.-based Bitcoin solutions manufacturer delivering
            high-performance, energy-efficient systems for industrial scale. Our
            air, immersion, and hydro-cooled miners use advanced silicon,
            intelligent power, and secure design to enable efficient,
            sustainable, and reliable mining amid rising energy costs and
            growing supply chain concerns.
          </p>
          <Link href="/" text="Products" />
        </div>
      </section>
      <section
        class="section min-h-[80svh] grid grid-cols-1 md:grid-cols-2 justify-center items-center px-8 relative z-2"
      >
        <div class="left flex flex-col items-center gap-4">
          <div class="md:max-w-[70%] m-auto">
            <Picture src={Slide2} formats={["avif", "webp"]} alt="Blockchain" />
          </div>
        </div>
        <div class="right flex flex-col gap-8">
          <h2 class="text-4xl font-bold | gradientSmallHeading">
            Industry-Leading Miner Economics
          </h2>
          <p class="bigger max-w-[40ch]">
            Auradine delivers industry-leading miner economics by maximizing
            uptime, reducing manual overhead, and lowering operational risk. Our
            systems are built for efficiency at scale—cutting energy waste,
            minimizing maintenance, and streamlining deployment so customers see
            stronger returns and long-term savings.
          </p>
          <Link href="/" text="Explore" />
        </div>
      </section>
      <section
        class="section min-h-[80svh] grid grid-cols-1 md:grid-cols-2 justify-center items-center px-8 relative z-2"
      >
        <div class="left flex flex-col items-center gap-4">
          <div class="md:max-w-[70%] m-auto">
            <Picture src={Slide3} formats={["avif", "webp"]} alt="Blockchain" />
          </div>
        </div>
        <div class="right flex flex-col gap-8">
          <h2 class="text-4xl font-bold | gradientSmallHeading">
            Low Power AI Compute
          </h2>
          <p class="bigger max-w-[40ch]">
            Auradine is extending its high-efficiency ASIC expertise to AI,
            leveraging patented blockchain technology to enable low-power,
            high-performance compute. With deep silicon experience and
            power-optimized architectures, we’re building the next generation of
            AI accelerators—designed to scale efficiently, sustainably, and with
            purpose.
          </p>
          <Link href="/" text="Contact Us" />
        </div>
      </section>
    </div>
  </div>
  <!-- END Section wrapper -->

  <section
    class="bg-[#070B1E] min-h-screen relative z-1 max-h-[800px] overflow-hidden flex flex-col justify-center items-center"
  >
    <div
      class="overlayVideo absolute top-0 left-0 w-full h-[150%] opacity-60 z-0"
    >
      <video
        id=""
        preload="metadata"
        src="/HB-tech.mp4"
        poster="/hero-poster.webp"
        autoplay=""
        loop=""
        muted=""
        playsinline=""
        disablepictureinpicture=""
        webkit-playsinline=""
        class="relative w-full h-full bottom-0 object-cover opacity-80 z-0"
      ></video>
    </div>

    <div
      class="overlay-glow | absolute top-0 left-1/2 transform -translate-x-1/2 w-full h-full pointer-events-none z-1"
    >
      <svg
        class="w-full h-full object-cover"
        width="1512"
        height="743"
        viewBox="0 0 1512 743"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g filter="url(#filter0_f_595_53)">
          <ellipse
            cx="755.5"
            cy="395"
            rx="752.5"
            ry="200"
            transform="rotate(180 755.5 395)"
            fill="url(#paint0_radial_595_53)"></ellipse>
        </g>
        <defs>
          <filter
            id="filter0_f_595_53"
            x="-397"
            y="-205"
            width="2305"
            height="1200"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape"></feBlend>
            <feGaussianBlur
              stdDeviation="200"
              result="effect1_foregroundBlur_595_53"></feGaussianBlur>
          </filter>
          <radialGradient
            id="paint0_radial_595_53"
            cx="0"
            cy="0"
            r="1"
            gradientUnits="userSpaceOnUse"
            gradientTransform="translate(756.589 265.52) rotate(90) scale(250.289 941.713)"
          >
            <stop stop-color="#025FF8"></stop>
            <stop offset="1" stop-color="#00161F"></stop>
          </radialGradient>
        </defs>
      </svg>
    </div>
    <div
      class="container flex flex-col justify-center items-center gap-16 text-center mx-auto h-full relative z-2"
    >
      <h2
        class="font-medium text-[40px] leading-[50px] md:leading-[60px] lg:text-[70px] lg:leading-[99%] tracking-[-1.04px] text-center align-middle uppercase grandientHeading"
      >
        High Tech. Low Power. <br class="hidden sm:inline" />Built For
        Blockchain & AI.
      </h2>
      <Link href="/contact" text="Learn More" />
    </div>
  </section>

  <section class="featured-news | bg-[#070B1E] py-32 relative z-1">
    <div class="container mx-auto">
      <h2 class="gradientSmallHeading text-4xl mb-16 font-medium">
        Featured News & Insights
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {
          posts.map((post) => (
            <div class="post-item | grid grid-rows-[1fr_150px] md:grid-rows-[1fr_250px] gap-4">
              <div class="image-wrapper | overflow-hidden relative border border-white/10">
                <a href={post.link} class="relative group block">
                  {post.category == "Video" ? (
                    <div class="video-icon | absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="44"
                        height="44"
                        viewBox="0 0 44 44"
                      >
                        <circle
                          cx="22"
                          cy="22"
                          r="20"
                          stroke="#fff"
                          stroke-width="3"
                          fill="none"
                        />
                        <polygon points="18,15 28,22 18,29" fill="#fff" />
                      </svg>
                    </div>
                  ) : null}
                  <img
                    src={post.image}
                    alt={post.title}
                    class="w-full h-auto aspect-[11/8] object-cover md:mix-blend-luminosity group-hover:mix-blend-normal transition-all duration-300 ease-in-out"
                  />
                  <div class="overlay | absolute top-0 left-0 w-full h-full bg-[#070B1E] opacity-20 group-hover:opacity-0 transition-opacity duration-300 ease-in-out hidden md:block" />
                </a>
              </div>
              <div class="content grid grid-rows-[40px_1fr_40px] md:grid-rows-[40px_4lh_40px] justify-between">
                <div class="info flex items-center gap-2">
                  <p
                    class={`${categoryClass[post.category]} font-bold text-[14px] leading-[19.6px] tracking-[0%] uppercase`}
                  >
                    {post.category}
                  </p>
                  <span class="text-sm text-white opacity-50">/</span>
                  <p class="text-sm text-white opacity-80">{post.date}</p>
                </div>
                <h3 class="text-lg font-semibold mb-2 text-white lg:max-w-[80%]">
                  {post.title}
                </h3>
                <div class="mt-4">
                  <a
                    href={post.link}
                    class="text-[#42C1FF] smaller font-bold leading-[19.6px] tracking-normal text-center align-middle uppercase group flex items-center gap-1"
                  >
                    {post.category == "Video" ? "Watch video" : "Read more"}{" "}
                    <svg
                      class="group-hover:translate-x-1 transition-transform duration-300 ease-in-out"
                      xmlns="http://www.w3.org/2000/svg"
                      width="14"
                      height="14"
                      viewBox="0 0 24 24"
                    >
                      <g fill="none">
                        <>
                          <path d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
                          <path
                            fill="#41C4ED"
                            d="m14.707 5.636l5.657 5.657a1 1 0 0 1 0 1.414l-5.657 5.657a1 1 0 0 1-1.414-1.414l3.95-3.95H4a1 1 0 1 1 0-2h13.243l-3.95-3.95a1 1 0 1 1 1.414-1.414"
                          />
                        </>
                      </g>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>

  <!--<section class="min-h-screen bg-black relative z-1"></section> -->
</Layout>

<script type="module" client:load>
  import "/src/js/init.js";
  //import "../js/init.js";
</script>
